.table-for-information {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /*table-layout: fixed;*/
  padding-left: 10px;
  margin-bottom: 100px !important;
}

.table-for-information th {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding-left: 10px;
}

.table-for-information tbody {
  background-color: #f0f0f0;
}
.table-for-information tr {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 70px;
  margin-left: 30px !important;
  font-size: 1.2em;
}

.table-for-information td {
  padding-left: 10px !important;
}

.table-for-information tr:hover {
  background-color: #c1c1ae;
  cursor: pointer;
}

.table-for-information-partial-index {
  background-color: #cccaca !important;
}

.actionSection {
  display: inline-flex;
}

.cell-selection-item {
  width: 100px !important;
  /*width: auto !important;*/
  text-align: center;
}

.iconAction {
  margin-right: 25px;
}

.remove:hover {
  color: tomato;
}
.edit:hover {
  color: orange;
}

/*.removeicon 
{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(../../Images/Icon/icon_remove-black.png);
    background-size: cover;
    
}
    .removeicon:hover 
    {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(../../Images/Icon/icon_remove-red.png);
        background-size: cover;
    }

.editicon 
    {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(../../Images/Icon/icon_edit-black.png);
        background-size: cover;
        background-color: transparent;
    }
    .editicon:hover 
    {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url(../../Images/Icon/icon_edit-orange.png);
        background-size: cover;
    }*/
