#mynavbar {
  position: fixed;
  width: 100%;
  z-index: 12;
}

#list {
  margin-left: 20px;
}
#list > li > a {
  color: #f27101;
  width: 200px;
  text-align: center;
}

#list > li:hover {
  background-color: #f2f2f2;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.logo {
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-image: url(../../Images/logo.png);
  background-size: cover;
}
