
#mynavbar{
    height:50px;        
    max-height: 50px;    
}

#list{
    margin-left: 20px;
    
}
#list> li > a{
    
    color:#f27101;
    width: 200px;
    text-align: center;
    
}

#list> li:hover{
    background-color: #f2f2f2;
    transition: color .20s ease-in-out,background-color .20s ease-in-out,border-color .20s ease-in-out,box-shadow .20s ease-in-out;
}




