.singleSection {
  background-color: #f5f5f5;
  max-width: 48% !important;
  height: 85vh;
  margin-top: 40px;
  margin-bottom: 50px !important;
  margin-left: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.boxtitle {
  height: 50px;
  background: #dcdcdc78;
  margin-bottom: 20px;
  color: white;
  background-color: #343a40;
  border: 3px solid rgba(128, 43, 78, 0.97);
}

.title {
  font-size: 1.3em;
}

.price {
  font-size: 1.4em;
  padding-top: 2px;
}

.totalprice {
  background-color: #e8ba39;
  margin-bottom: 10px;
}

.paddingSection {
  margin-left: 0px;
  margin-right: 0px;
}

.noMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.singleRowParent {
  margin-bottom: 10px;
}

.singleRow {
  background-color: #9b1d38;
  height: 40px;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.arrowSect {
  width: 10px;
}
/*
ARROW RIGHT fa fa-angle-right
ARROW DOWN  fa fa-angle-down
*/
.arrowRight:hover {
  cursor: pointer;
  color: darkblue;
}

.childPanelClose {
  height: 0em;
  visibility: hidden;
}
.marginLeft {
  margin-left: 1px !important;
}

.childPanelOpen {
  width: 100%;
  padding-top: 10px;
  background-color: #8069562b;
  height: 30em;
  visibility: visible;
  padding-left: 10px;
  margin-left: 5px;
  display: block;
}

/*to devide panel change height value here*/
.childPanelRowContainer {
  padding-top: 10px;
  /*  background-color: #ccc;*/
  background-color: #343a40;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.childPanelRow {
  margin-left: 1px;
  width: 100%;
  height: 30px;
  /* background-color: #bb6767;*/
  background-color: #9b1d38;
  margin-bottom: 2px;
  color: white;
  padding-left: 10px;
}

.PricePatern {
  text-align: right;
  font-size: 1.3em;
  margin-left: 10px;
}

.PriceChild {
  text-align: right;
  margin-left: 20px;
}

.CostPatern {
  font-size: 1.3em;
}
.CostChild {
  font-size: 1.1em;
}

.childPanelChartSection {
  background-color: #343a40;
  height: 45%;
  width: 100%;
  margin-top: 10px;
  /*display: flex;*/
}

.ChartWidth {
  width: 50%;
}
